* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;

  --base-color-pink: #b52184;
  --base-color-blue-700: #312d64;
  --base-color-white: #fff;
}

body {
  font-size: 1.6rem;
  background-color: #f9f4fb;
}

h1,
h2,
legend,
i {
  color: var(--base-color-pink);
  font-weight: 900;
}

h1,
legend {
  font-size: 3.2rem;
}

p,
input,
input::placeholder,
textarea,
textarea::placeholder {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--base-color-blue-700);
}

.bg-blue {
  background-color: var(--base-color-blue-700);
  color: var(--base-color-white);
}

.bg-white {
  background-color: var(--base-color-white);
  color: var(--base-color-blue-700);
}

.header {
  text-align: center;
  padding: 0 3.3rem 9.3rem;

  & > img {
    max-width: 80%;
  }
}

.header-content {
  & > section > h1 {
    margin-top: 1.7rem;
  }

  & > section > p {
    font-size: 2rem;
  }
}

.header-content > button {
  margin-top: 3.5rem;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  padding: 5.3rem 4rem;
}

.card {
  box-shadow: 0px 3.3107693195343018px 13.243077278137207px 0px
    rgba(0, 0, 0, 0.25);

  padding: 2.65rem;
  border-radius: 2rem;
}

.card {
  & > h2 {
    font-size: 3rem;
    margin-top: 3.3rem;
  }

  & > p {
    margin-top: 1.7rem;
  }
}

form {
  padding: 7.8rem 4rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 4.3rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;

  padding: 0.4rem 1.2rem;
  border: 1.5px solid #312d64;
  border-radius: 8px;

  & > i {
    font-size: 2.4rem;
    margin-right: 1rem;
  }

  & > label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 1px;
    height: 1px;
  }
}

.input-wrapper > input,
textarea {
  background: transparent;
  text-transform: capitalize;

  padding: 1rem;
  width: 100%;
  min-height: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
}

textarea {
  max-width: 100%;
  min-height: 13.8rem;
}

form > button {
  margin-top: 2.4rem;
  padding: 1.6rem;
  border: none;
  border-radius: 1.6rem;

  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: capitalize;
  color: var(--base-color-white);
  background: linear-gradient(
    134deg,
    #343193 0%,
    var(--base-color-blue-700) 100%
  );
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;

  padding: 2rem;
}

/* MEDIA QUERIES */

@media (min-width: 1440px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    gap: 18rem;
    align-items: start;
    text-align: start;

    & > section > h1 {
      font-size: 5.8rem;
    }

    & > section > p {
      font-size: 3.2rem;
    }
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 6.4rem 11rem;
  }

  .card {
    width: 36.6rem;
    height: 44.8rem;
    padding: 3.2rem;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  form {
    width: 50%;
    padding-inline: 10.9rem;
  }

  .form-image {
    width: 50%;
    height: 61.2rem;
    display: block;
    background-image: url("./assets/stars_back.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
